{{>header}}
<main class="d-flex flex-column min-vh-100">
<link rel="stylesheet" href="/css/form.css">
<div>
    <h1>Ajustes de Administrador</h1>
</div>

<div class="contenedor">

    <div class="form">
        <form  method="post" action="/course/" >
            <h2>Añadir entrenador a un gimnasio</h2>

            <div class="row">
                <div class="col">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
                </div>
                <div class="col">
                    <label>Apellidos:</label>
                    <input type="text" class="form-control" placeholder="Apellidos" aria-label="Last name">
                </div>
            </div>

            <br><br>

            <label>Gimnasio:</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {{#gym}}
                <option >ID: {{id}} | {{address}} ({{city}})</option>
                {{/gym}}
            </select>

            <br><br>

            <input type="submit" class="btn btn-light" value="Confirmar">

        </form>

    </div>

</div>
</main>
{{>footer}}