{{>header}}
<main class="d-flex flex-column min-vh-100">
    <link rel="stylesheet" href="/css/form.css">
    <div>
        <h1>Ajustes de Administrador</h1>
    </div>

    <div class="contenedor">

        <div class="form">

                <h2>Añadir clase a un gimnasio</h2>
                <label>Gimnasio:</label>

                <select id="mySelectGym" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    {{#gym}}
                    <option class="{{id}}" value="{{id}}">{{city}} ({{ccaa}}) | {{address}}, {{number}}, {{zip}}</option>
                    {{/gym}}
                </select>



                <label>Clase:</label>

                <select id="mySelectCourse" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Abre para seleccionar</option>
                    {{#course}}
                    <option class="{{id}}" value="{{id}}">{{name}} (Intensidad: {{intensity}})</option>
                    {{/course}}

                </select>
                <br><br>


                <input type="submit" class="btn btn-light" value="Confirmar">

                <div id="calendar"></div>


        </div>

    </div>

    <script src="/js/addClass.js"></script>
    <script src="prueba.js"></script>
</main>
{{>footer}}