{{>header}}
<main class="d-flex flex-column min-vh-100">
    <link rel="stylesheet" href="/css/form.css">
    <div>
        <h1>Ajustes de Administrador</h1>
    </div>

    <div class="contenedor">

        <div class="form">
            <form>
                <h2>Añadir clase a un gimnasio</h2>
                <label>Gimnasio:</label>

                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    {{#gym}}
                    <option class="{{gym.id}}">{{city}} ({{ccaa}}) | {{address}}, {{number}}, {{zip}}</option>
                    {{/gym}}
                </select>



                <label>Clase:</label>

                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Abre para seleccionar</option>

                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>

                </select>
                <br><br>


                <input type="submit" class="btn btn-light" value="Confirmar">

                <div id="calendar"></div>

            </form>

        </div>

    </div>

    <script src="prueba.js"></script>
</main>
{{>footer}}