{{>header}}
<main class="d-flex flex-column min-vh-100">
    <link rel="stylesheet" href="/css/form.css">
    <div>
        <h1>Contacto</h1>
    </div>

    <div class="contenedor">

        <div class="form">
            <form action="/contact/" method="post">
                <h2>Enviar una solicitud</h2>

                <label>Correo electrónico:</label>
                <input type="text" id="mail" name="mail" class="form-control" placeholder="Correo">
                <br><br>

                <label>Asunto de la solicitud:</label>
                <input type="text" id="subject" name="subject" class="form-control" placeholder="Asunto">
                <br><br>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripción:</label>
                    <textarea id="description" name="description" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Descripción aquí..."></textarea>
                </div>
                <br><br>

                <div class="mb-3">
                    <label for="exampleFormControlSelect1" class="form-label">Tipo de Consulta:</label>
                    <select id="typeQuestion" name="typeQuestion" class="form-select" id="exampleFormControlSelect1">
                        <option>Comentarios</option>
                        <option>Más información</option>
                        <option>Dudas sobre tu contrato</option>
                        <option>Otros</option>
                    </select>
                </div>

                <input type="submit" class="btn btn-light" value="Confirmar">

            </form>

        </div>

    </div>
</main>
{{>footer}}