{{>header}}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--<link rel="stylesheet" href="css/site.css">-->
<link rel="stylesheet" href="/css/richtext.min.css">
<script type="text/javascript" src="/js/jquery.richtext.js"></script>


<main class="d-flex flex-column min-vh-100">
  <link rel="stylesheet" href="/css/form.css">
  <div>
    <h1>Ajustes de Administrador</h1>
  </div>

  <div class="contenedor">

    <div class="form">
      <form action="/course/" method="post">
        <h2>Crear nueva clase</h2>

        <label>Nombre:</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" aria-label="First name"
          required>
        <br><br>

        <label for="customRange3" class="form-label">Intensidad:</label>
        <input type="range" id="intensity" name="intensity" class="form-range" min="0" max="5" step="1" value="2"
          id="customRange3" required>
        <br><br>

        <div class="form-group">
          <label for="description">Descripción:</label>
          <textarea class="form-control" id="description" name="description" rows="4" placeholder="Descripción aquí..."
            required></textarea>
        </div>


        <script>
          $(document).ready(function() {
            $('#description').richText();
          });
        </script>

        <br><br>

        <input type="submit" class="btn btn-light" value="Confirmar" required>

      </form>

    </div>

  </div>
</main>
{{>footer}}