@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
    background-color: #323030 !important;
}

p,
h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

h1 {
    margin: 10px;
}

p .course,
.info p {
    margin: 20px 20px 0 30px !important;
}

.text,
.timetable,
map {
    overflow: hidden;
}

/*SECTION 1. MAIN PHOTO*/
.section-1 {
    height: 50vh;
    width: 100%;

    background-color: #ccc;
}

.section-1 img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

/*SECTION 2. GYM INFORMATION*/
.main {
    width: 100%;
}

.title {
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.section-2 {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
}


.info {
    height: 40vh;
    width: 30%;

    margin: 30px;

    display: flex;
    flex-direction: column;

    background-color: orange;
}

.text {
    height: 100%;
    width: 100%;

    border-radius: 10px;
    background-color: white;
}

.left-section {
    width: 30%;
    height: 40vh;

    margin: 30px;

    display: flex;
    flex-direction: column;

    background-color: orange;
    float: left;
}

#table {
    height: 100%;
}

.right-section {
    height: 40vh;
    width: 30%;

    margin: 30px;

    display: flex;
    flex-direction: column;

    float: right;
    background-color: orange;
}

#map {
    height: 100%;
}

/*ALL COURSES*/
.section-3 {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3 img {
    width: 30%;
}

.courseTitle {
    color: white;
}

ul {
    width: 100%;
}

li {
    width: 100%;
    list-style: none;
}

.nameCourse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course h2,
p .info,
.course p {
    margin: 20px;

    color: black;
}

.ele {
    width: 65%;
    height: 250px;

    margin: 20px;

    overflow: hidden;
    display: flex;

    background-color: white;
    border-radius: 10px;
}

.CourseImagen {
    width: 25%;

    flex-shrink: 0;

    overflow: hidden;
}

.CourseImagen img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.course {
    flex: 1;
    padding: 20px;
}

.buttonAndTittle {
    display: flex;
}

.buttonAndTittle h2 {
    flex-grow: 1;
}

.buttons {
    display: flex;
    align-items: center;
    flex-grow: 0;
}

.buttons a {
    margin: 5px;
}