@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

/* Set the default margin and padding to 0 for the whole page */
body {

    background-color: #323030 !important;
}

p,
h1, h2 {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;


}

.text,
.timetable,
map{
    overflow: hidden;
}

/* Define the style for the first section */
.section-1 {
    /* Set the height to 30% of the viewport height and the width to 100% */
    height: 50vh;
    width: 100%;
    /* Set the background color to light gray */
    background-color: #ccc;
    /* Make the section a flex container with center alignment */
}

/* Define the style for the image in the first section */
.section-1 img {
    /* Set the height and width to 100% of the container */
    height: 100%;
    width: 100%;
    /* Set the object-fit property to cover to clip the image */
    object-fit: cover;
}

.main {
    width: 100%;
    /* justify-content: space-between;
    align-items: center; */
}


/* Define the style for the second section */
.section-2 {
    /* Make the section a flex container with row direction */
    height: 100%;
    /* Set the width to 100% and the height to 50% of the viewport height */
    width: 100%;

    display: flex;
    justify-content: space-between;
}


.info {

    display: flex;

    flex-direction: column;


    height: 40vh;
    width: 30%;

    margin: 30px;
    background-color: orange;
}


.text {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* Define the style for the left section in the second section */
.left-section {

    display: flex;
    flex-direction: column;

    width: 30%;
    height: 40vh;
    margin: 30px;
    /* Set the background color to medium gray */
    background-color: orange;
    float: left;
}

#table {

    height: 100%;
}

.timetable {
    background-color: orange;
    height: 100%;

}


/* Define the style for the right section in the second section */
.right-section {
    /* Set the width to 40% of the available space and the height to 100% */
    height: 40vh;
    width: 30%;
    margin: 30px;
    /* Set the background color to light gray */

    float: right;
    background-color: orange;


    display: flex;
    flex-direction: column;
}

/* Define the style for the third section */
.section-3 {
    display: flex;
    flex-direction: column;
    /* Colocar los elementos uno debajo del otro */
    justify-content: center;
    /* Centrar verticalmente */
    align-items: center;
    /* Centrar horizontalmente */
    width: 100%;


}

/* Define the style for the images in the third section */
.section-3 img {
    /* Set the width to 30% of the available space */
    width: 30%;

}


.title {
    margin-top: 30px;
    color: white;
    display: flex;

    justify-content: center;
    align-items: center;
}

#map {

    height: 100%;
}

h1{
    margin: 10px;
}

p .course, .info p {
    margin: 20px 20px 0 30px !important;
}


/* ///////////////////////////////////////////////////////////////////////////////////////// */

.courseTitle{
    color: white;
}
li{
    list-style: none;
    width: 100% ;
}

ul{
    width: 100% ;
}

.course h2,p .info, .course p{
    color: black;
    margin: 20px;


}

.nameCourse{
    display: flex;
    flex-direction: column;
    /* Colocar los elementos uno debajo del otro */
    justify-content: center;
    /* Centrar verticalmente */
    align-items: center;
}
.ele {
    background-color: white;
    border-radius: 10px;
    margin: 20px;

    width: 65%;
    height: 250px;
    overflow: hidden;
    display: flex;

}

.CourseImagen{
    flex-shrink: 0;
    width: 25%;
    overflow: hidden;

}
.CourseImagen img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.course{
    flex: 1;
    padding: 20px;
}

.buttonAndTittle {
    display: flex;
}

.buttonAndTittle h2 {
    flex-grow: 1;
}

.buttons {
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.buttons a{
    margin: 5px;
}
