h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.filtersContainer {
    margin-top: 40px;

    display: flex;
    justify-content: center;

    align-items: flex-start;
}

.filters {
    width: 20%;

    margin: 0 40px 0 40px;
    padding: 10px;

    display: block;

    background-color: #212529;
    border-radius: 10px;

    overflow: hidden;
}

label {
    width: 100%;

    padding: 15px;

    color: white;
}

h2,
h3,
p {
    margin: 15px;

    color: white;
}

/* SHOW COACHES */
.coaches {
    width: 50%;
    align-items: center
}

.coach {
    margin: 0 0 0 20px;

    color: black;
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0 0 0 0 !important;
}

li {
    list-style: none;
    transition: transform 0.2s ease-in-out;

}

li:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.ele {
    width: 100%;
    height: 200px;

    margin: 20px;

    overflow: hidden;
    display: flex;

    background-color: #212529;
    border-radius: 10px;
}

.imagen {
    width: 10%;
    min-width: 30%;

    padding: 0;

    overflow: hidden;
    flex-shrink: 0;

    border-radius: 10px;
}

.imagen img {
    height: 100%;
    width: 100%;

    border-radius: 10px;
}

.person {
    padding: 20px;

    flex: 1;
}

.buttonAndTittle {
    display: flex;
}

.buttonAndTittle h2 {
    flex-grow: 1;
}

.buttons {
    display: flex;
    align-items: center;

    flex-grow: 0;
}

.buttons a {
    margin: 5px;
}