@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    
     
    background-size: cover;
}

.menu {
    position: relative;
    /* Declaramos una altura y la anchura siempre ajustada al borde */
    height: 90px;
    box-sizing: border-box;

    padding: 0 0 0 40px;
    background-color: #323030;
    /* Los elementos se comportaran en filas horizontales y se completara */
    display: flex;
    flex-direction: row;
}
.logo{ 
    /* No nos pasamos de los bordes a la hora de poner pading o margin */

    box-sizing: border-box;

    height: 100%;
    padding:0 10px 0 0;
    

}

.logo img{
    
    width: 90px;
    height: 90%; 
    
}

.sections{
    
    box-sizing: border-box;

    height: 100%;
    padding: 0%;
    margin: 0%;

    flex-grow: 1;
}

.sections li {
    
    /* Pone cada elemento en un bloque mas estrecho que permite poner a mas bloques en la misma linea */
    display: inline-block;
    height: 100%;
    padding: 30px 40px 30px 40px;
    box-sizing: border-box;
    
    
} 

.sections li a {
    
    /* Eliminamos la decoracion de enlace*/ 
    text-decoration: none;
    padding: 20px 0 20px 0;
    /* Cuando hacemos el cambio de color se hace con una transicion */
    color: white;
    transition: color 0.3s ease;

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.sections li a:hover{
    color: #FF7200;
}

/* ------------------------------------------------------------------------- */

.highlights{
    
    height: 500px;
    margin: 50px 20px 0 20px;

}

.highlights div{
    position: relative;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    margin: 0 10px 0 10px;
    padding: 0px;

    filter: blur(0);
    
    transition: filter 0.2s ease-in-out;


}

.highlights div :hover {
    filter: blur(5px);
}

.highlights div img{
    height: 100%;
    /* Ponemos un sombreado a las imagenes */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /*Para aplicar un desenfoque*/
}



.highlights-title{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 0 600px 0 600px;

}

.final-text{
    padding: 0 200px 0 200px;
    margin: 100px 0 50px 0;
    font-family: Arial, sans-serif;
}

/* ------------------------------------------------------------------------- */
.social-networks{
    
    padding: 0 200px 0 200px;
    margin: 100px 0 50px 0;
    height: 50px;
    
    padding:0 50px 0 50px  ;
    
    
}
.social-networks div{
    position: relative;
    display: inline-block;
    height: 100%;
}

.social-networks div img{
    display: inline-block;
    height: 100%;
    padding: 0 143px 0 143px;

    transition: transform 0.2s ease-in-out;

}

.social-networks  div img:hover {

    transform: scale(1.1);
  

}

/*-----------------------------------------------------------*/
.baner{
    position: relative;
    display: flex;
    background-color: #323030;
    height: 100px;
    width: 100%;
}


.baner-text{
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    color:white;
    padding:0 20px 0 20px;
    
    
}

.baner img{
    position: absolute;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
}