@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    overflow-x: hidden;
    hight: 100%;
}

header {
    display: flex;
    /*background-color: #323030;*/
    /**/
    justify-content: space-between;
    /* agregamos esta propiedad */
    align-items: center;
    padding: 0;
    background-color: #333;
    height: 100%;
    
}

nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}

.logo {
    height: 100%;
    padding: 10px;
}

.logo img {

    height: 70px;

}


nav .sections {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin: 0 60px 0 60px;
    padding: 0;

}



nav li {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

nav a {
    padding: 10px;

    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

    transition: color 0.3s ease;
}

.sections li a:hover {
    color: #FF7200;
}

.checkbtn{
    font-size: 1.5em;
    float:right;
    line-height: 1em;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* Estilos para pantalla mediana */
@media (max-width: 952px) {
    nav a {
        font-size: 16px;
    }
}


/* Estilos para pantalla pequeña */
@media screen and (max-width: 700px) {
    .checkbtn{
        display: block;
    }
    /*header {
        flex-direction: column;
        align-items: flex-start;
    }*/

    body{
        overflow-x: hidden;
    }

    nav {
        margin-top: 10px;
    }

    nav .sections {
        position: fixed;
        left: -160%;
        width: 100%;
        height: 100vh;
        background: #696969;
        text-align: center;
        transition: all .5s;
        top: 9em;
        margin: 0 !important;
        display: block;
    }

    nav ul li {
        display: block;
        margin: 40px 0;
        line-height: 30px;
        float: left;
        width: 100%;
    }

    nav ul li a{
        font-size: 20px;
        height: 5em;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

/* ------------------------------------------------------------------------- */
.highlights-title {
    font-size: 50px;
    display: flex;
    justify-content: center;


}

.highlights-title p {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;

}
.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
}
.highlights div {

    display: inline-block;

    margin: 0 10px 0 10px;
    padding: 0px;

    /*filter: blur(0);
    transition: filter 0.2s ease-in-out;*/

}

.highlights div img {
    height: 500px;
    /* Ponemos un sombreado a las imagenes */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /*Para aplicar un desenfoque*/
}

.highlights div :hover {
    filter: blur(5px);
}



.final-text {
    padding: 0 200px 0 200px;
    margin: 100px 0 50px 0;
    font-family: Arial, sans-serif;
}

/* ------------------------------------------------------------------------- */
.social-networks {

    padding: 0 200px 0 200px;
    margin: 100px 0 50px 0;
    height: 50px;

    padding: 0 50px 0 50px;


}

.social-networks div {
    position: relative;
    display: inline-block;
    height: 100%;
}

.social-networks div img {
    display: inline-block;
    height: 100%;
    padding: 0 143px 0 143px;

    transition: transform 0.2s ease-in-out;

}

.social-networks div img:hover {

    transform: scale(1.1);


}

/*-----------------------------------------------------------*/
.baner {
    position: relative;
    display: flex;
    background-color: #323030;
    height: 100px;
    width: 100%;
}


.baner-text {
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    color: white;
    padding: 0 20px 0 20px;


}

.baner img {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
}