body {
/display: flex;/
/justify-content: center;/
}

.filtersContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;

}

.filters {
    display: block;
    padding: 10px;


}

label {
    color: white;
    width: 100%;
    padding: 15px;
}

h2,
h3,
p {
    color: white;
    margin: 15px;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

ul {
    padding: 0 0 0 0 !important;
}

.filters {
    border-radius: 10px;
    background-color: #212529;
    width: 20%;
    margin: 0 40px 0 40px;

    overflow: hidden;
}

/* ////////////////////////////////////////////////////////// */
.questionsDiv {
    width: 50%;
    align-items: center
}

.question {
    color: black;
    margin: 0 0 0 20px;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
    transition: transform 0.2s ease-in-out;

}
.ele {
    background-color: #212529;
    border-radius: 10px;
    margin: 20px;

    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;

}

.mailImagen {

    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;

    width: 10%;
    min-width: 30%;
    overflow: hidden;
    padding: 0;


}

.gymImagen img {
    height: 100%;
    width: 100%;
    border-radius: 10px;


}

.ciudad {

    padding: 20px;
    flex-grow: 1;

}

.buttonAndTittle {
    display: flex;
}

.buttonAndTittle h2 {
    flex-grow: 1;
}

.buttons {
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.buttons a{
    margin: 5px;
}