{{>header}}
<main class="d-flex flex-column min-vh-100">
    <link rel="stylesheet" href="/css/centers.css">
    <div class="filtersContainer">


        <div class="filters">
            <h3>Filtros</h3>


            <label>Comunidad:</label>
            <select id="filter" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option value="todos">Todos</option>
                <!--///////////////////////////////////////////////////////-->
                {{#ccaa}}
                <option value="{{.}}">{{.}}</option>
                {{/ccaa}}
                <!--///////////////////////////////////////////////////////-->
            </select>

        </div>


        <div class="gyms">


            <h2 class="gym">GIMNASIOS</h2>
            <ul id="list">
                {{#gyms}}

                <li class="{{ccaa}}" data-id="{{id}}">

                    <div class="ele">
                        <div class="gymImagen">

                            <img src="/img/center/gymPhoto.jpg" alt="Imagen">
                        </div>
                        <div class="ciudad">
                            <div class="buttonAndTittle">
                                <h2>{{city}}</h2>
                                <div class="buttons">

                                    <a href="/edit-Gym?gymId={{id}}" class="btn btn-secondary">Editar</a>
                                    <a href="#" class="btn btn-danger" data-id="{{id}}">Eliminar</a>

                                </div>

                            </div>
                            <p>{{ccaa}}</p>
                            <p>{{address}}, Nº{{number}}, {{zip}} - {{phoneNumber}}</p>
                            <p>Más información..</p>
                        </div>
                    </div>
                </li>


                {{/gyms}}
            </ul>
        </div>
    </div>

    <script src="/js/clickToGym.js"></script>

    <script src="/js/delete/deleteGym.js"></script>
    <script src="/js/centers.js"></script>
</main>
{{>footer}}
