{{>header}}

<link rel="stylesheet" href="/css/center.css">
<h1 class="ubicacion">
    Universidad Rey Juan Carlos, campus de Móstoles, Avenida del Alcalde de Móstoles, Móstoles
</h1>

<section class="section-1">

    <img src="/img/center/fondo.jpg" alt="">
</section>




<section class="section-2">

    <div class="left-section">
        <h1>NUESTRO HORARIO DE ACTIVIDADES</h1>
        <div class="timetable">

        </div>
    </div>

    <div class="right-section">
        <h1>UBICACION</h1>

        <div id="map">

        </div>
    </div>

</section>



<section class="section-3">
    <img src="photo-1.jpg" alt="Photo 1">
    <img src="photo-2.jpg" alt="Photo 2">
    <img src="photo-3.jpg" alt="Photo 3">
</section>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPFQiBLzTqRwHBGJJrrxb6oI1tUwRirD0&callback=initMap&v=weekly" async></script>
<script src="/js/map.js"></script>

{{>footer}}