{{>header}}
<main class="d-flex flex-column min-vh-100">
    <link rel="stylesheet" href="/css/coaches.css">
    <div class="filtersContainer">
        <!--///////////////////////////////////////////////////////-->
        <!--FILTERS BY GYM-->
        <div class="filters">
            <h3>Filtros</h3>

            <label>Gimnasio:</label>
            <select id="filter" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option value="todos">Todos</option>

                {{#gym}}
                <option value="{{id}}">ID: {{id}}. {{city}} ({{ccaa}})</option>
                {{/gym}}

            </select>

        </div>

        <!--///////////////////////////////////////////////////////-->
        <!--ALL COACHES-->
        <div class="coaches">

            <h2 class="coach">ENTRENADORES</h2>
            <ul id="list">
                {{#coaches}}
                <li data-id="{{id}}" class="{{gymId}}">

                    <div class="ele">
                        <div class="imagen">
                            <img src="/img/center/gymPhoto.jpg" alt="Imagen">
                        </div>

                        <div class="person">
                            <div class="buttonAndTittle">
                                <h2>ID ENTRENADOR: {{id}}</h2>
                                <div class="buttons">
                                    <a href="#" class="btn btn-danger" data-id="{{id}}">Eliminar</a>
                                </div>

                            </div>
                            <p>{{name}} {{lastName}}</p>
                            <p>Id Gimnasio: {{gymId}}</p>

                        </div>
                    </div>
                </li>

                {{/coaches}}
            </ul>
        </div>
    </div>

    <!--JS FOR DELETING, FILTERING-->
    <script src="/js/delete/deleteCoach.js"></script>
    <script src="/js/filters/filter.js"></script>
</main>
{{>footer}}