{{>header}}
<main class="d-flex flex-column min-vh-100">
    <link rel="stylesheet" href="/css/mailbox.css">
    <div class="filtersContainer">


        <div class="filters">
            <h3>Filtros</h3>


            <label>Tipo de Consulta:</label>
            <select id="typeQuestion" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option value="todos">Todos</option>
            </select>

        </div>


        <div class="questionsDiv">


            <h2 class="question">PREGUNTAS</h2>
            <ul id="list">
                {{#questions}}

                <li class="{{typeQuestion}}" data-id="{{id}}">

                    <div class="ele">
                        <div class="mailImagen">

                            <img src="/img/mail/mail.png" alt="Imagen">
                        </div>
                        <div class="ciudad">
                            <div class="buttonAndTittle">
                                <h2>{{subject}}</h2>
                                <div class="buttons">
                                    <a href="#" class="btn btn-danger" data-id="{{id}}">Eliminar</a>

                                </div>

                            </div>
                            <p>Correo: {{mail}}</p>
                            <p>Tipo pregunta: {{typeQuestion}}</p>
                            <p>Descripción: {{description}}</p>
                        </div>
                    </div>
                </li>


                {{/questions}}
            </ul>
        </div>
    </div>


    <script src="/js/delete/deleteQuestion.js"></script>
    <script src="/js/mailbox.js" charset="UTF-8"></script>
</main>
<script src="/js/typeQuestion.js" charset="UTF-8"></script>
{{>footer}}
